header {
  background-color: $black;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: $transition;
  @include media($default) {
    height: 12.6rem;
    position: fixed;
  }
  &.transparent {
    // background: transparent;
    background: #000;
    @include media($default){
      background: transparent;
    }
    ul.k__navigation > li .drop__menu {
      background: rgba(0,0,0,0.9);
    }
  }
  &.sticky {
    background: rgba(0,0,0,0.9);
    @include media($default) {
      height: 6.6rem;
    }
    ul.k__navigation > li {
      padding: 2rem 0;
    }

  }

  &>.container {
    max-width: 100%;
    padding: 0 1.5rem;
    @include media($default) {
      padding: 0 4%;
    }
    &>.row {
      display: flex;
      flex-flow: column;
      position: relative;
      @include media($default) {
        position: static;
        flex-flow: row;
      }
      .trigger {
        position: absolute;
        top: 3.2rem;
        z-index: 99;
        @include media($default) {
          display: none;
        }
        i {
          color: #fff;
          font-size: 2rem;
        }
      }
      .col {
        &.navigation__menu__list {
          position: absolute;
          width: 100%;
          align-items: flex-start;
          @include media($default){
            align-items: center;
            width:41.6666666667%;
            height: auto;
            position: static;
          }
        }
      }
    }
  }
  .col {
    display: flex;
    align-items: center;
  }
  .logo {
    display: inline-block;
    max-width: 15rem;
    margin: 0 auto;
    padding-top: 3rem;
    margin-bottom: 2.5rem;
    @include media($default) {
      margin-bottom: 0;
      max-width: 20rem;
      padding-top: 0rem;
    }
  }
  ul.k__navigation {
    display: flex;
    margin: 0;
    padding: 0;
    &>li {
      margin: 0 1.5rem;
      transition: $transition;
      @include media($default) {
        margin-right: 3.5rem;
        margin-left: 0;
        padding: 5rem 0;
      }
      
      .drop__menu {
        position: absolute;
        width: 100%;
        background-color: $black;
        padding: 2.4rem 0rem;
        top: 13.4rem;
        left: 0;
        display: none;
        .container {
          max-width: 100%;
          padding: 0 4%;
        }
        @include media($default) {
          border-top: 1px solid rgba(255,255,255,0.3);
          transition: $transition;
          opacity: 0;
          visibility: hidden;
          display: block;
        }
        .col {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding: 0;
        }
        a {
          margin-bottom: 1.5rem;
        }
      }
      &:hover {
        @include media($default) {
          .drop__menu {
            top: 12.4rem;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      &.active {
        &>a {
          @include media($default) {
            &:after {
              @include content;
              background-color: #fff;
              top: auto;
              bottom: -.3rem;
              height: 2px;
            }
          }
        }
      }
      a {
        position: relative;
        color: $white;
        text-transform: uppercase;
        transition: $transition;
        display: inline-block;
        &:hover {
          color: $red;
          &:after {
            background-color: $red;
          }
        }
      }
    }
  }
  .left__menu {
    width: calc(100% + 3rem);
    position: absolute;
    left: -120%;
    transition: $transition;
    height: 100vh;
    background: #000;
    z-index: 999;
    &.show{
      left: -1.5rem;
      .k__navigation {
        padding: 2rem;
        display: flex;
        flex-flow: column;
        position: relative;
        overflow: auto;
        max-height: 100vh;
        
        li {
          margin-bottom: 2rem;
          a {
            font-size: 1.6rem;
          }
          li {
            margin-bottom: 0;
            a {
              margin-bottom: 1rem;
            }
          }
          .drop__menu {
            position: static;
            padding: 1rem 0 ;
            .container .row .col {
              flex-flow: column;
            }
          }
        }
      }
    }
    @include media($default) {
      height: auto;
      background: transparent;
      position: static;
    }
  }
  .right__menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
    @include media($default) {
      margin-bottom: 0;
      justify-content: flex-end;
    }
    .k__navigation  {
      &>li {
        position: relative;
        .navigation__right_dorp__menu {
          min-width: 21.5rem;
          transition: $transition;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 9rem;
          transform: translate(-50%, 0px);
          left: 50%;
          @include media($default) {
            right: 0;
            left: auto;
            transform: initial;
          }
          &.visible {
            opacity: 1;
            visibility: visible;
            top: 3rem;
            @include media($default) {
              top: 8rem;
            }
            &.hide {
              opacity: 0;
              visibility: hidden;
              top: 4rem;
              @include media($default) {
                top: 9rem;
              }
            }
          }
          .navigation__right__close {
            cursor: pointer;
            position: absolute;
            top: -25px;
            right: -10px;
          }
        }
      }
    }
    li {
      list-style: none;
      display: flex;
      align-items: center;
      margin-right: 2rem;
      &.grid {
        margin-top: 2px;
      }
      &.search {
        a {
          font-size: 1.8rem;
        }
      }
      &.bag {
        span {
          position: absolute;
          top: -10px;
          right: -2px;
        }
      }
    }
    img {
      max-width: 2.5rem;
    }
  }
}
.k__mega__menu {
  display: flex;
  &>ul {
    width: 40%;
  }
  .mega__menu__image {
    max-width: 590rem;
    img {
      max-width: 590px;
      border: 1px solid $white;
    }
  }
}
.close {
  background: #fff;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 3px;
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  i {
    font-size: 1.6rem;
    margin-bottom: .1rem;
  }
  @include media($default) {
    display: none;
  }
}
.navigation__right_dorp__menu {
  padding: 3rem 2rem 2rem;  
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  input {
    min-width: 17.5rem;
    min-height: 3.2rem;
    font-size: 1.3rem;
    padding-right:3rem ;
  }
  .navigationd__content__group {
    position: relative;
    h3 {
      font-size: 1.3rem;
      font-weight: bold;
      border-bottom: 1px solid #000;
    }
    ul {
      padding: 1rem;
      a {
        margin-bottom: .5rem;
      }
    }
  }
  .navigation__icon {
    position: absolute;
    right: 1rem;
    top: 0.6rem;
  }
  i {
    color: #212529;
  }
}

header ul.k__navigation > li .navigationd__content__group a {
  color: $black;
}
header.sticky ul.k__navigation > li:hover .drop__menu {
  top: 6.6rem;
}
header.sticky .right__menu .k__navigation > li .navigation__right_dorp__menu.visible {
  top: 6.6rem;
}