// Media Query Mixin
@mixin media($size) {
    @media screen and (min-width: #{$size}) {
        @content;
    }
}

@mixin content {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}