.breadcrumb-container {
    margin: 0 auto; 
    padding: 35px 0 35px 0;
    display: flex;
    @include media($default) {
        padding: 65px 0 60px 0;
    }
    &__item {
        cursor: pointer;
        margin-right: 1.1rem;
        font-weight: 600;
        span {
            margin-left: .6rem;
            font-size: 1.3rem;
        }
        &.visited {
            color: #b85a4d;
        }
    }
}