.site__gloabal__heading {
  text-align: center;
  padding-top: 5rem;
  max-width: 80%;
  margin: 0 auto 4.5rem;
  h2 {
    font-size: 3rem;
    font-family: $bold;
    padding-bottom: 1rem;
  }
  p {
    font-size: 2rem;
  }
}