.main-section {
    margin: 0 auto 2rem;
    .section__heading {
        &__title {
            font-size       : 3rem;
            font-weight     : 600;
            border-bottom   : 1px solid #ccc;
            padding-bottom  : 20px;
            margin-bottom   : 30px
        }
        .section__heading__content {
            &__title {
                color: #b85a4d;
                font-size: 2rem;
                font-weight: bold;
                margin-top: 2.3rem;
            }
            &__text {
                font-size: 1.8rem;
            }
            &__text-L {
                font-size: 2rem;
            }
        }
    }
}