.main-section {
    margin: 0 auto;
    .section__heading {
        &__title {
            font-size: 3rem;
            font-weight: 600;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
            margin-bottom: 30px
        }
        &__text {
            font-size: 1.5rem;
        }
    }
}