.size-chart-table {
    margin: 4.5rem 0 3.5rem;
    &__head {
        background: #fcf7ee;
    }
    tr {
        border-bottom: 1px solid #ccc;
        th {
            padding: 1rem 0;
            font-size: 1.6rem;
        }
        td {
            padding: 1rem 0;
            font-size: 1.4rem;
        }
    }

}